<div class="max-w-4xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <%%= form_with(model: <%= singular_resource_name %>) do |form| %>
    <div class="bg-white rounded-xl shadow dark:bg-neutral-900">
      <div class="pt-0 p-4 sm:pt-0 sm:p-7">
        <div class="space-y-4 sm:space-y-6">
          <%% if <%= singular_resource_name %>.errors.any? %>
            <div class="rounded-md bg-red-50 p-4 mb-4">
              <div class="flex">
                <div class="flex-shrink-0">
                  <svg class="h-5 w-5 text-red-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
                  </svg>
                </div>
                <div class="ml-3">
                  <h3 class="text-sm font-medium text-red-800"><%%= pluralize(<%= singular_resource_name %>.errors.count, "error") %> prohibited this plan from being saved:</h3>
                  <div class="mt-2 text-sm text-red-700">
                    <ul role="list" class="list-disc space-y-1 pl-5">
                      <%% <%= singular_resource_name %>.errors.each do |error| %>
                        <li><%%= error.full_message %></li>
                      <%% end %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          <%% end %>
          <% columns.each do |column| %>
            <% if column.type == 'string' %>
              <div class="space-y-2">
                <label class="inline-block text-sm font-medium text-gray-800 mt-2.5 dark:text-neutral-200"><%= column.name.humanize %>:</label>
                <%%= form.text_field :<%= column.name %>, class: 'py-2 px-3 pe-11 block w-full border-2 border-gray-200 shadow-sm text-sm rounded-lg' %>
              </div>
            <% elsif column.type == 'integer' || column.type == 'float' %>
              <div class="space-y-2">
                <label class="inline-block text-sm font-medium text-gray-800 mt-2.5 dark:text-neutral-200"><%= column.name.humanize %>:</label>
                <%%= form.number_field :<%= column.name %>, class: 'py-2 px-3 pe-11 block w-full border-2 border-gray-200 shadow-sm text-sm rounded-lg' %>
              </div>
            <% elsif column.type == 'boolean' %>
              <div class="space-y-2">
                <label class="inline-block text-sm font-medium text-gray-800 mt-2.5 dark:text-neutral-200"><%= column.name.humanize %>:</label>
                <%%= form.select :<%= column.name %>, options_for_select([['Yes', true], ['No', false]], <%= singular_resource_name %>.<%= column.name %>), {}, class: 'py-2 px-3 pe-9 block w-full border-gray-200 shadow-sm rounded-lg text-sm' %>
              </div>
            <% elsif column.type == 'text' %>
              <div class="space-y-2">
                <label class="inline-block text-sm font-medium text-gray-800 mt-2.5 dark:text-neutral-200"><%= column.name.humanize %>:</label>
                <%%= form.text_area :<%= column.name %>, class: 'py-2 px-3 block w-full border-2 border-gray-200 rounded-lg text-sm' %>
              </div>
            <% elsif column.type == 'datetime' %>
              <div class="space-y-2">
                <label class="inline-block text-sm font-medium text-gray-800 mt-2.5 dark:text-neutral-200"><%= column.name.humanize %>:</label>
                <%%= form.datetime_field :<%= column.name %>, class: 'py-2 px-3 pe-11 block w-full border-2 border-gray-200 shadow-sm text-sm rounded-lg' %>
              </div>
            <% elsif column.type == 'time' %>
              <div class="space-y-2">
                <label class="inline-block text-sm font-medium text-gray-800 mt-2.5 dark:text-neutral-200"><%= column.name.humanize %>:</label>
                <%%= form.time_field :<%= column.name %>, class: 'py-2 px-3 pe-11 block w-full border-2 border-gray-200 shadow-sm text-sm rounded-lg' %>
              </div>
            <% elsif column.type == 'date' %>
              <div class="space-y-2">
                <label class="inline-block text-sm font-medium text-gray-800 mt-2.5 dark:text-neutral-200"><%= column.name.humanize %>:</label>
                <%%= form.date_field :<%= column.name %>, class: 'py-2 px-3 pe-11 block w-full border-2 border-gray-200 shadow-sm text-sm rounded-lg' %>
              </div>
            <% elsif column.type == 'enum_column' %>
              <div class="space-y-2">
                <label class="inline-block text-sm font-medium text-gray-800 mt-2.5 dark:text-neutral-200"><%= column.name.humanize %>:</label>
                <%%= form.select :<%= column.name %>, options_for_select(<%= class_name %>.<%= column.name.pluralize %>.keys, <%= singular_resource_name %>.<%= column.name %>), {}, class: 'py-2 px-3 pe-9 block w-full border-gray-200 shadow-sm rounded-lg text-sm' %>
              </div>
            <% elsif column.type == 'file' && column.name.singularize == column.name %>
              <div class="space-y-2">
                <label class="inline-block text-sm font-medium text-gray-800 mt-2.5 dark:text-neutral-200"><%= column.name.humanize %>:</label>
                <%%= form.file_field :<%= column.name %>, class: 'block w-full text-sm text-gray-500 file:me-4 file:py-2 file:px-4 file:rounded-lg file:border-0 file:text-sm file:font-semibold file:bg-blue-600 file:text-white' %>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="mt-5 flex justify-center gap-x-2">
          <%%= form.submit 'Submit', class: 'py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none' %>
        </div>
      </div>
    </div>
  <%% end %>
</div>
