<div class="mt-7 max-w-screen-md mx-auto bg-white border border-gray-200 rounded-xl shadow-sm dark:bg-neutral-900 dark:border-neutral-700">
  <div class="p-4 sm:p-7">
    <div class="text-center">
      <h1 class="block text-2xl font-bold text-gray-800 dark:text-white"><%= I18n.t('title', :scope => 'devise.otp.submit_token') %></h1>
      <p class="mt-2 text-sm text-gray-600 dark:text-neutral-400">
        <%= I18n.t('explain', :scope => 'devise.otp.submit_token') %>
      </p>
    </div>

    <div class="mt-5">
  

      <!-- Form -->
      <%= form_for(resource, :as => resource_name, :url => [resource_name, :otp_credential], :html => { :method => :put, "data-turbo" => false }) do |f| %>
        <%= hidden_field_tag :challenge, @challenge %>
        <%= hidden_field_tag :recovery, @recovery %>

        <div class="grid gap-y-4">

          <!-- Form Group -->
          <div>
            <% if !@recovery && recovery_enabled? %>
              <div class="flex justify-between items-center">
                <label for="password" class="block text-sm mb-2 dark:text-white">2FA token</label>
                <%= link_to I18n.t('recovery_link', :scope => 'devise.otp.submit_token'), otp_credential_path_for(resource_name, :challenge => @challenge, :recovery => true), class: 'inline-flex items-center gap-x-1 text-sm text-blue-600 decoration-2 hover:underline focus:outline-none focus:underline font-medium dark:text-blue-500' %>
              </div>
            <% else %>
              <div class="flex justify-between items-center">
                <label for="password" class="block text-sm mb-2 dark:text-white">2FA token</label>
              </div>
            <% end %>

            <% if @recovery %>
              <p>
                <%= label_tag :token, I18n.t('recovery_prompt', :scope => 'devise.otp.submit_token') %><br />
                <%= text_field_tag :otp_recovery_counter, resource.otp_recovery_counter, :autocomplete => :off, :disabled => true, :size => 4 %>
              </p>
            <% else %>
              <p>
                <%= label_tag :token, I18n.t('prompt', :scope => 'devise.otp.submit_token') %><br />
              </p>
            <% end %>

            <div class="relative">
              <%= text_field_tag :token, nil, :autocomplete => :off, :autofocus => true, :size => 6, class: 'py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600' %>
            </div>

            

          </div>
          <!-- End Form Group -->

          <!-- Checkbox -->
          <div class="flex items-center">
            <div class="flex">
              <%= check_box_tag :enable_persistence, true, false, class: 'shrink-0 mt-0.5 border-gray-200 rounded text-blue-600 focus:ring-blue-500 dark:bg-neutral-800 dark:border-neutral-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800' %>
            </div>
            <div class="ms-3">
              <label for="remember-me" class="text-sm dark:text-white">Remember me</label>
            </div>
          </div>
          <!-- End Checkbox -->

          <%= f.submit I18n.t('submit', :scope => 'devise.otp.submit_token'), class: 'w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none' %>
        </div>
      <% end %>
      <!-- End Form -->
    </div>
  </div>
</div>
