<div class="p-4 sm:p-7 overflow-y-auto">
  <div class="text-center">
    <h3 id="hs-ai-modal-label" class="text-lg font-semibold text-gray-800 dark:text-neutral-200">
      <%= title %>
    </h3>
    <p class="text-sm text-gray-500 dark:text-neutral-500">
      ID: <%%= @<%= resource_singular_name %>.id %>
    </p>
  </div>
  <div class="mt-5 sm:mt-10">
    <h4 class="text-xs font-semibold uppercase text-gray-800 dark:text-neutral-200">Details</h4>
    <ul class="mt-3 flex flex-col">
      <% model_attributes.each do |attribute| %>
        <li class="inline-flex items-center gap-x-2 py-3 px-4 text-sm border text-gray-800 -mt-px first:rounded-t-lg first:mt-0 last:rounded-b-lg dark:border-neutral-700 dark:text-neutral-200">
          <div class="flex items-center justify-between w-full">
            <span><%= attribute.capitalize %></span>
            <span><%%= @<%= resource_singular_name %>.<%= attribute %> %></span>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="mt-5 flex justify-end gap-x-2">
    <% if enabled?('index') %>
      <%%= link_to "Back to list", <%= index_resource_path %>, class: "py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-50 dark:bg-transparent dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800" %>
    <% end %>
    <% if enabled?('update') %>
      <%%= link_to "Edit", <%= edit_resource_path %>, class: "py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-50 dark:bg-transparent dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800" %>
    <% end %>
    <% if enabled?('destroy') %>
      <%%= button_to "Remove", @<%= resource_singular_name %>, method: :delete, data: { turbo: false },class: "py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-red-600 text-white focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none" %>
    <% end %>
  </div>
</div>
